body {
  margin: 0;
  padding: 0;
  background-color: #2d3143;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
  background-color: black;
}

.logo img {
  height: 35px;
  padding-left: 25px;
  padding-right: 20px;
}

.navigation {
  padding-left: 100px;
  display: flex;
  gap: 5px;
}

.navigation1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  color: yellow;
}

.navigation2 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 18px;
}

.actions {
  padding-left: 300px;
  display: flex;
  gap: 15px;
}

.create-btn, .login-btn, .signup-btn {
  padding: 15px 15px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background-color: #4c558c;
  color: white;
}

.search-icon {
  font-size: 25px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-section-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

